
<div class="center_of_page">
	<div class="jumbotron parallax5">
		<div class="welcome">
			<p>
			<div class="well well-sm">
					<h1>Please Login to See Your Account</h1>

					<%= form_tag '/login' do %>

					Email: <%= text_field_tag :email %>
					Password: <%= password_field_tag :password %>
					<%= submit_tag "Submit" %>

					<% end %>
				</div>
			</p>
		</div>
	</div>
</div>